.vp-tab {
	text-align: center;
	vertical-align: center;
	font-size: 0;
	line-height: 0;
}

.vp-header {
	color: #414141;
}

.vp-icon {
	stroke: #414141;
	stroke-opacity :1;
	opacity: 1;
	fill-rule: nonzero;
	fill: none;
	fill-opacity: 1;
	stroke-width: 1.0;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

.vp-icon-box {
	width: auto;
	height: auto;
	max-height: 50px;
}

.vp-divider {
	background-color: #414141;
	height: 1px;
}

.vp-vpcard {
	margin: 2px;
	#box-shadow: 0px 0px 2px #414141;
	border: 1px solid #414141;
}

.ly-page-vplan .vp-main-container {
	margin: 2px;
}
