@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.ttf');
	format('truetype');
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('fonts/Roboto-Light.ttf');
	format('truetype');
}

html, body {
	font-family: 'Roboto'
}

.vp-tab {
	text-align: center;
	vertical-align: center;
	font-size: 0;
	line-height: 0;
}

.vp-icon {
	stroke: #414141;
	stroke-opacity :1;
	opacity: 1;
	fill-rule: nonzero;
	fill: none;
	fill-opacity: 1;
	stroke-width: 1.0;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

.vp-icon-fill {
	opacity: 1;
	fill-rule: nonzero;
	fill: #414141;
	fill-opacity: 1;
}

.vp-bar-item {
	padding: 8px 0px!important
}

.vp-icon-box {
	width: 33px;
	height: 33px;
}

.ly-main {
	margin-top: 121px;
}

.vp-header {
	color: #414141;
	font-family: 'Roboto-Light';
	font-size: 33px;
	white-space: nowrap;
}

@media (min-width:601px) {
	.vp-icon-box {
		width: 40px;
		height: 40px;
	}

	.ly-main {
		margin-top: 139px;
	}

	.vp-header {
		font-size: 40px;
	}
}

@media (min-width:993px) {
	.vp-icon-box {
		width: 48px;
		height: 48px;
	}

	.ly-main {
		margin-top: 159px;
	}

	.vp-header {
		font-size: 48px;
	}
}

.vp-divider {
	background-color: #414141;
	height: 1px;
}

.vp-vpbase {
	margin: 2px;
}

.vp-section {
	background-color: #D8E7ED;
}

.vp-vpcard {
	#box-shadow: 0px 0px 2px #414141;
	border: 1px solid #f1f1f1;
}

.ly-page-vplan .vp-main-container,
.ly-page-daymsgs .vp-main-container {
	margin: 2px;
}

.ly-actionbar {
	position: fixed;
	top: 0;
	width: 100%;
	#overflow: scroll;
}

